body {
  margin: 32px 32px 0 32px;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.viewport {
  display: flex;
  justify-content: center;
  height: calc(100vh - 340px);
  max-height: 600px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.dimensions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dim {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

div.label {
  min-width: 40px;
}

input.dimension {
  width: 30px;
}

.rules {
  min-width: calc(100vw - 64px - 8px - 282px);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

textarea.rule {
  width: calc(100% - 80px);
  height: 20px;
}

textarea.current {
  background-color: goldenrod;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid black;
}

.color-grid {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
}

.color-rows {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.color-row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
